import java.time.LocalDateTime
import org.apache.commons.io.FileUtils
import java.time.format.DateTimeFormatter
import java.util.concurrent.TimeUnit


nexusBackupDirPath = "{{ nexus_backup_dir }}"
maxFileAgeInDays = "{{ nexus_backup_keep_rotations }}".toInteger()

try {
    log.info("Backup directory is {}, deleting any backup file older than {} days", nexusBackupDirPath, maxFileAgeInDays)

    dateThreshold = new Date().minus(maxFileAgeInDays)

    // find *.bak files in nexusBackupDirPath
    bakFiles = new FileNameFinder().getFileNames(nexusBackupDirPath, '*.bak')
    bakFiles.each {
      file = new File(it)
      if (new Date(file.lastModified()) < dateThreshold) {
        log.info("Deleting old backup file {}", it)
        file.delete()
      } else {
        log.info("Keeping backup file {}", it)
      }
    }

} catch (Exception e) {
    log.error(e.toString())
}
