apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: nexus
    nexus-cern-apb.cern.ch/instance-id: {{ _apb_service_instance_id }}
  name: cern-sso-proxy
data:
  nexus_authorize.conf: |
    # Make sure clients cannot fake authentication by injecting a X-Remote-User header
    RequestHeader unset X-Remote-User

    # Required to have basic auth in addition to SSO with Shibboleth
    ShibCompatValidUser On

    # increase proxy timeout
    TimeOut 300

    # NPM repos use %2f in URLs: https://issues.sonatype.org/browse/NEXUS-16223
    AllowEncodedSlashes On    

    #Protected resources, if you need to protect specific urls please change the Location path
    <LocationMatch "^/(service/|$)">
      ShibRequestSetting requireSession 1
      AuthType shibboleth
      <RequireALL>
        Require valid-user
      </RequireALL>
      # Make the value of REMOTE_USER (the email address) available to the backend
      # application as HTTP header X-Remote-User
      #RequestHeader set X-Remote-User %{REMOTE_USER}e
      # Use the following instead to pass login name rather than email address
      RequestHeader set X-Remote-User %{ADFS_LOGIN}e
    </LocationMatch>
    <Location /repository>
      AuthType Basic
      AuthBasicProvider ldap anon
      AuthName "CERN"
      LDAPReferrals off

      # identify user with samAccountName
      AuthLDAPUrl "ldaps://cerndc.cern.ch:636/OU=Users,OU=Organic Units,DC=cern,DC=ch?sAMAccountName?sub"
      AuthLDAPRemoteUserAttribute sAMAccountName

      # Authenticate with LDAP using provided credentials
      AuthLDAPInitialBindAsUser on
      AuthLDAPInitialBindPattern (.+) "CN=$1,OU=users,OU=organic units,DC=cern,DC=ch"
      AuthLDAPSearchAsUser on
      AuthLDAPCompareAsUser on

      # if LDAP auth fails, still accept any basic credential and let Nexus handle auth.
      # Could be a repo accessible anonymously or auth with token, local Nexus user...
      AuthLDAPBindAuthoritative off
      # use the anon provider to accept any basic credential
      Anonymous *
      Anonymous_NoUserID On
      Anonymous_LogEmail Off
      Anonymous_MustGiveEmail Off

      Require valid-user

      # Also accept anon requests without Basic auth at all (Nexus may or may not allow anon access).
      # We need to do this explicitly as we don't have valid-user in this case.
      <If "%{HTTP:Authorization} == ''">
         Require all granted
      </If>

      # set X-Remote-User if (and only if) user was authenticated with LDAP.
      # REMOTE_USER cannot be used here as it is also set by the anon provider.
      # AUTHENTICATE_* is set exclusively by the Ldap provider for the attributes listed in the LDAP URL.
      RequestHeader set X-Remote-User %{AUTHENTICATE_SAMACCOUNTNAME}e "expr=reqenv('AUTHENTICATE_SAMACCOUNTNAME') != ''"
    </Location>
  proxy.conf: |
    <Location "/">
      ProxyPreserveHost On
      ProxyPass http://${SERVICE_HOST}:${SERVICE_PORT}/
    </Location>
